body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 28px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    gap: 5vh;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.srch {
    width: 20px;
    margin-right: 5vh;
    cursor: pointer;
}

.srchLogin {
    display: flex;
    align-items: center;
    
}

.film {
    width: 34vh;
}

.films,.films_area3 {
    display: flex;
    margin-top: 7vh;
    justify-content: space-around;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;
    padding: 1rem, 2rem;
}

.films::-webkit-scrollbar {
    display: none;
    position: relative;
}

.films-wrapper {
    position: relative;
    overflow: hidden;
}

.top {
    width: 80vh;
    height: 50vh;
    border-radius: 3vh;
}

.top_photoSec {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 6vh;
}

.hd {
    text-decoration: underline;
    text-decoration-color: blue;
}


.trending_movies,.popular_films,.section_3,.popular_tvSeries {
    margin-top: 28vh;
    margin-left: 5vh;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    z-index: 10;
    border-radius: 5px;
}

.arrow:hover {
    background-color: rgb(48, 48, 240);
    transition: ease-in 0.4s;
}

.films2 {
    display: flex;
}


.section_3 {
    display: flex;

}

.categories_area,.films_area,.films_area3 {
    margin-top: 10vh;
}

.ctgFilm {
    display: flex;
    gap: 15vh;
}

.category {
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.catg.action {
    background-color: blue;
}

.catg:hover {
    background-color: blue;
    transition: 0.5s ease-in;
}

.actn_films,.comedy_films,.drama_films,.fantasy_films,.horror_films,
 .mystery_films,.romance_films{
    display: flex;
    gap: 3vh;
}


.comedy_films,.drama_films,.fantasy_films,.horror_films,
 .mystery_films,.romance_films {
    display: none;
 }

.comedy_films {
    display: none;
}

.ftr_sec1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25vh;
    background: linear-gradient( 45deg, black, rgb(14, 14, 163));
    
}

.ftrTxt {
    display: grid;
    font-size: 25px;
}

.ftr_sec2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20vh;
    background-color: rgb(55, 49, 49);
}
.copyright {
    font-size: 18px;
}

.soc {
    cursor: pointer;
}


.arrow.left {left: 0;}
.arrow.right {right: 0;}
