body {
    background-color: black;
    color: white;
}

.logo {
    font-size: 28px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    gap: 5vh;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.srch {
    width: 20px;
    margin-right: 5vh;
    cursor: pointer;
}

.srchLogin {
    display: flex;
    align-items: center;
    
}


.trending_movies {
    margin-top: 28vh;
    margin-left: 5vh;
}

