body {
    background-color: black;
    color: white;
}

.logo {
    font-size: 28px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    gap: 5vh;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}