body {
     background: linear-gradient( 90deg, rgb(101, 101, 181), black );
}

.login_box {
    display: flex;
    justify-content: center;
    
    margin:  0 auto;
    margin-top: 30vh;
    background-color: white;
    width: 300px;
    padding: 15vh;
    
}

.login_content {
    display: grid;
    align-items: center;
    text-align: center;
}